*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

studio-plugin/.intellijPlatform
build
.idea/libraries
.idea/modules
.idea/workspace.xml
.idea/misc.xml
.idea/kotlinc.xml
.idea/shelf
.intellijPlatform
studio-plugin/build